<script>
  import { Link } from "svelte-routing";
  
  import { supabase } from "lib/supabaseClient"

  // core components
  import IndexNavbar from "components/Navbars/IndexNavbar.svelte";
  import Footer from "components/Footers/Footer.svelte";

  const patternVue = "/assets/img/landing2.png";
  const componentBtn = "/assets/img/component-btn.png";
  const componentProfileCard = "/assets/img/component-profile-card.png";
  const componentInfoCard = "/assets/img/component-info-card.png";
  const componentInfo2 = "/assets/img/component-info-2.png";
  const componentMenu = "/assets/img/component-menu.png";
  const componentBtnPink = "/assets/img/component-btn-pink.png";
  const documentation = "/assets/img/documentation.png";
  const login = "/assets/img/login.jpg";
  const profile = "/assets/img/profile.jpg";
  const landing = "/assets/img/landing.jpg";
  // export let location;
  
  export const actions = {
    postticket: async ({ request }) => {
		const data = await request.formData();
		const user_name = data.get('user_name');
		const user_email = data.get('user_email');
		const title = data.get('title');
		const description = data.get('description');
		const { error } = await supabase.from('ticket').insert([{ user_name, user_email, title, description }]);

		if (error) {
			return invalid(500, error);
		}
	}
}


  const scrollToElement = (selector) => {
    const elemento = document.querySelector(selector);
    if (!elemento) return;
    let position = elemento.getBoundingClientRect().top;
    let offset = position + window.pageYOffset;
    window.scrollTo({
      top: offset,
      behavior: 'smooth',
    });
  };
</script>

<IndexNavbar />
<section class="header relative pt-16 items-center flex h-screen max-h-860-px">
  <div class="container mx-auto items-center flex flex-wrap">
    <div class="w-full md:w-8/12 lg:w-6/12 xl:w-6/12 px-4">
      <div class="pt-32 sm:pt-0">
        <h2 class="font-bold text-4xl text-blueGray-600">
          Ticketing Management
        </h2>
        
        <div class="mt-12">
          <a
            href={'#'} on:click|preventDefault={() => scrollToElement('#createticket')}
            target="_blank"
            class= "get-started text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-red-400 active:bg-red-500 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150"
          >
            Create Ticket
          </a>
          
        </div>
      </div>
    </div>
  </div>

  <img
    class="absolute top-0 b-auto right-0 pt-11 sm:w-6/12 -mt-48 sm:mt-0 w-10/12 max-h-860-px"
    src="{patternVue}"
    alt="..."
  />
</section>

<section id="createticket" class="pt-16 pb-16 container mx-auto px-4 h-full">
  <h2  class="font-bold text-center text-4xl text-blueGray-600">
    Ticket Form
  </h2>
  <form method="POST" action="?/postticket">
    <div class="relative w-full mb-3">
      <label
        class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
        for="grid-name"
        name="user_name"
      >
        Name
      </label>
      <input
        id="grid-name"
        type="text"
        class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded-lg text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
        placeholder="Name"
      />
    </div>

    <div class="relative w-full mb-3">
      <label
        class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
        for="grid-email"
      >
        Email
      </label>
      <input
        id="grid-email"
        type="email"
        class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded-lg text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
        placeholder="Email"
        name="user_email"
      />
    </div>
    <div class="relative w-full mb-3">
      <label
        class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
        for="grid-name"
        name="title"
      >
        Subject
      </label>
      <input
        id="grid-judul"
        type="text"
        class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded-lg text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
        placeholder="Subject"
      />
    </div>
    <div class="relative w-full mb-3">
      <label
        class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
        for="grid-deskripsi"
      >
        Description
      </label>
      <textarea 
        class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded-lg text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
        placeholder="Type your complaint here"
        name="description"
      />
    </div>

    <div class="text-center mt-6">
      <button
        class="bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded-lg shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
        type="button"
      >
        Send
      </button>
    </div>
  </form >
</section>


<br>
<Footer />
