<script>
  import { link } from "svelte-routing";

  // core components
  import PagesDropdown from "components/Dropdowns/PagesDropdown.svelte";

  let navbarOpen = false;

  function setNavbarOpen() {
    navbarOpen = !navbarOpen;
  }
</script>

<nav
  class="top-0 absolute z-50 w-full flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg"
>
  <div
    class="container px-4 mx-auto flex flex-wrap items-center justify-between"
  >
    <div
      class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start"
    >
          <a
            href="/"
            class="get-started text-white font-bold px-6 py-2 rounded outline-none focus:outline-none mr-1 mb-1 bg-red-400 active:bg-red-500 text-xs shadow hover:shadow-lg ease-linear transition-all duration-150"
          > Back
          </a>
    </div>
  </div>
</nav>
